// Main colors
$color-one: #1d3557;
$color-two: #457b9d;
$color-three: #a8dadc;
$color-four: #a8dadc;
$color-five: #f1faee;
$color-six: #e63946;

$color-white: #FFF;
$color-black: #000;

// Alternative colors
$color-green: #00b00c;