@import '@/styles/globals.scss';

.wrapper {
  position: absolute;
  left: vw(15px);
  right: vw(15px);
  bottom: vw(18px);
  top: vw(98px);
  background: rgba($color-two, 0.5);
  padding: vw(15px);
  border-radius: vw(5px);
  margin: 0;
}

.email-items {
  position: relative;
  li {
    display: flex;
    padding: vw(10px);
    background: rgba($color-white, 0.1);
    border-radius: vw(5px);
    margin-bottom: vw(15px);
    &:last-child {
      margin-bottom: 0;
    }

    label {
      position: relative;
      top: 0;
      margin: 0;
      padding: 0 vw(20px) 0 0;
      overflow: hidden;
      span {
        width: vw(18px);
        height: vw(19px);
        background: transparent;
        border: vw(2px) solid $color-one;
        border-radius: vw(4px);
        &:hover {
          background: $color-white;
        }
        &::after {
          left: vw(5px) !important;
          top: vw(3px) !important;
          width: vw(3px) !important;
          height: vw(5px) !important;
        }
      }
      input:checked ~ span {
        background-color: $color-green !important;
      }
    }
    .item {
      padding-left: vw(6px);
    }
  }
}

// Scrollbars container
.scrollbars-container {
  position: relative;
  &:hover {
    > div:nth-child(3) {
      opacity: 1;
    }
  }
  > div {
    &:nth-child(1) {
      padding-right: vw(17px);
    }
    &:nth-child(3) {
      background: rgba($color-white, 0.2);
      border-radius: vw(3px) !important;
      right: 0 !important;
      width: vw(6px) !important;
      opacity: 0.2;
      transition: all 0.3s linear;
      & > div {
        background: rgba($color-white, 1) !important;
      }
    }
  }
}
